.projects {
    display: flex;
    align-items: center;
    padding: 4rem 0 2rem 0;
    width: 100%;
}

.projects h2 {
    font-size: 2rem;
    padding: 2rem 0;
}

.projects a {
    margin: 1rem;
    min-width: 200px;
}