.features {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
}

.features h2 {
    font-size: 2rem;
    padding: 0 0 4rem 0;
}

.featureSvg {
    height: 200px;
    width: 200px;
}
